{% extends "base.html.twig" %}

{% block body %}
<h2>El personaje con id {{id}} </h2>
<section>
    <h3>Nombre: {{character.name}}</h3>
    <p>Planeta: {{character.planet}}</p>
</section>
{% endblock %}
{% block footer %}
<h2>Footer</h2>
{% endblock %}